* {
  margin: 0;
}

/*colors: navbar bcg, navbar a color, cards bcg, back bgc

/* Navbar styling */
.navbar {
  padding: 40px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #f2f2f2;
  font-size: large;
  background-color: #317773;
  /* background-color: #013220ef; */
  /* background-color: #B85042; */

}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 40px;
  text-decoration: none;
  padding: 60px;
  color: white;
}

.navbar a:hover {
  /* color: #f1356d; */
}

/* Content styling */
.content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

/* Card list styling */
.card-list {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  width: 100%;
  max-width: 250px;
  margin: 20px;
  border: 1px solid #d4d4d4;
  overflow: hidden;
  word-wrap: break-word;
  /* padding: 16px 16px; */
  transition: box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cards:hover {
  box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.1);
}

/* Flipped card styling */

.card {
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
  text-align: center;
}

.card-content {
  margin: 10px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card.flipped .card-content {
  transform: rotateY(180deg);
}

.back {
  /* background-color: #00690012; */
  background-color: #e2d1f96f;
  /* background-color: #e7e8d175; */
  padding: 0%;
}

.front {
  padding: 10px;
}

.front, .back {
  min-height: 100px; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  line-height: 1.5; 
  padding: 10px;
}


/* Button styling */
button {
  margin: 10px 3px 0 3px;
  border: 1px solid #d4d4d4;
}

.button-container {
  display: flex;
}

/* Hidden elements */
.hidden {
  display: none;
}

/* Delete and edit button styling */
.delete-button, .edit-button {
  display: none;
}

.cards:hover .delete-button,
.cards:hover .edit-button {
  display: block;
}

